body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #380050, #000000);
  color: #ffff;
}
.container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  color: #ff6f00;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.subtitleText {
  max-width: 320px;
  font-size: 1.6rem;
  max-width: 480px;
}

.list {
  border: solid 1px white;
  border-radius: 16px;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  text-align: left;
  list-style: none;
  line-height: 2.8rem;
  font-size: 1.5rem;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 1.5rem;
}

.textDescribe {
  margin: 0;
  max-width: 320px;
  font-size: 1.5rem;
  width: 100%;
}

.priceText {
  margin: 0;
  max-width: 320px;
  font-size: 4rem;
  width: 100%;
  color: #ff6f00;
  font-weight: bold;
  margin-bottom: 20px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}
