.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #d9d9d9;
}

.modal {
  width: 100%;
  max-width: 380px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.icon {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff6f00; /* cor do ícone */
  -webkit-mask-image: url("../public/icons/hourglass.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: url("../public/icons/hourglass.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.title {
  color: #141414;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.textDescribe {
  font-size: 1.2rem;
  color: #141414;
  margin: 0 auto;
  max-width: 400px;
}
